/*Estilos da página index.html*/
body{
    background-color: rgb(72, 80, 128)
}

.texto {
    padding: 15px;
    font-size: 20px;
}
.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.menu li {
    font-size: 20px;
    display: inline;
    padding: 15px;
}
.menu li a {
    text-decoration: none;
    color: rgb(81, 22, 136);
}

.menu li a:hover {
    color: rgb(138, 37, 179);
}

.br-50 {
    border-radius: 50%;
}

.wh-400 {
    width: 400px;
    height: 400px;
    padding: 30px;
}

.tm-social {
    width: 50px;
    height: 50px;
    padding: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-45 {
    margin-top: 45px;
}

.bg-dark {
    background-color: black !important;
}
/*Estilos da página contato.html*/
.enderecoMod {
    font-size: 20px;
}

.pd-20 {
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-spam {
    margin-bottom: 10px;
    margin-top: 10px;
}

.containerAlt {
    align-items: center;
    display: flex;
}